$background-body: #ccd5ae;
$button-background : #faedcd;
$wrapper-background : #d4a373;



body{
  background-color: $background-body;
}
#drum-machine{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  
  .wrapper{
    background-color:$wrapper-background ;
    margin-top: 15%;
    width: 20%;
    padding: 1rem;
    border-radius: 15px;

    button {
      margin-bottom: 5px;
      border: none;
      color: black; 
      cursor: pointer;
      font-size: 15px;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: $button-background;
    }
    .controle{
      button{
        background-color: #606c38;
        color: #283618;
      }
      
    }
    .keyboard{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3,1fr);
    }
    
  }
}

