$background-body: #ccd5ae;
$button-background : #faedcd;



body{
  background-color: $background-body;
}
#drum-machine{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  button {
    margin-bottom: 5px;
    border: none;
    color: black; 
    cursor: pointer;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #faedcd;
  }
  .first-menu{
    width: 50%;
    display: inline-block;
       .keyboard{
         display: grid;
         grid-template-columns: repeat(3,1fr);
         grid-gap: 15px;
         
         button{
          height: 80px;
         }
  }
  }
  

  .wrapper{
    background-color: rgba(90, 38, 38, 0.808);
    margin-top: 10%;
    width: 80%;
    padding: 2rem;
    border-radius: 15px;
  }
  .second-menu{
    width: 50%;
    display: inline-flex;
    justify-content: center;

    #display {
      width: 200px;
      background-color: gray;
      margin: 15px auto;
      padding: 15px;
      box-sizing: border-box;
    }
  }
}


